<p>add-cv works!</p>
<form [formGroup]="form">
  Name:
  <input type="text" class="form-control" formControlName="name" />
  <div
    *ngIf="form.get('name')?.errors && form.get('name')?.touched"
    class="alert alert-danger"
  >
    Ce champ est obligatoire
  </div>
  Firstname:
  <input type="text" class="form-control" formControlName="firstname" /> Age:
  <input type="text" class="form-control" formControlName="age" /> 
  Cin:
  <input type="text" class="form-control" formControlName="cin" />
  <div *ngIf="form.get('cin')?.errors && form.get('cin')?.touched">
  <div *ngIf="form.get('cin')?.errors?.['required']" class="alert alert-danger">
    CIN is required
  </div>
  <div *ngIf="form.get('cin')?.errors?.['cinTaken']" class="alert alert-danger">
    CIN is already taken
  </div>
  <div *ngIf="form.get('cin')?.errors?.['pattern']" class="alert alert-danger">
    CIN format is invalid
  </div>
  </div>

  Job: 
  <input type="text" class="form-control" formControlName="job" /> 
  Path:
  <input type="text" class="form-control" formControlName="path" />

  <button [disabled]="form.invalid" class="btn btn-primary" (click)="addCv()">
    add cv
  </button>
</form>
{{ form.errors | json }} 
