<div>
  <!-- Tabs Navigation -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#juniors">Juniors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#seniors">Seniors</a>
    </li>
  </ul>

  <!-- Tabs Content -->
  <div class="tab-content">
    <!-- Juniors Tab -->
    <div id="juniors" class="tab-pane fade show active">
      <div *ngIf="juniors$ | async as juniors; else loading">
        <app-list [cvs]="juniors"></app-list>
      </div>
    </div>

    <!-- Seniors Tab -->
    <div id="seniors" class="tab-pane fade">
      <div *ngIf="seniors$ | async as seniors; else loading">
        <app-list [cvs]="seniors"></app-list>
      </div>
    </div>
  </div>
</div>

<!-- Loading Template -->
<ng-template #loading>
  <p>Chargement des CVs...</p>
</ng-template>
