<div class="todo-container">
  <h2>Ajouter une tâche</h2>
  <div class="input-group">
    <input type="text" [(ngModel)]="name" placeholder="Nom de la tâche" />
    <input type="text" [(ngModel)]="content" placeholder="Contenu de la tâche" />
    <button (click)="addTodo()" class="btn-add">Ajouter</button>
  </div>

  <div class="todo-lists">
    <div class="todo-column waiting">
      <h3>En Attente</h3>
      <div *ngFor="let todo of todoService.waitingTodos" class="todo-item">
        <p>{{ todo.name }} - {{ todo.content }}</p>
        <button (click)="changeStatus(todo.id, 'in progress')" class="btn-progress">Démarrer</button>
      </div>
    </div>

    <div class="todo-column in-progress">
      <h3>En Cours</h3>
      <div *ngFor="let todo of todoService.inProgressTodos" class="todo-item">
        <p>{{ todo.name }} - {{ todo.content }}</p>
        <button (click)="changeStatus(todo.id, 'done')" class="btn-done">Terminer</button>
      </div>
    </div>

    <div class="todo-column done">
      <h3>Terminé</h3>
      <div *ngFor="let todo of todoService.doneTodos" class="todo-item done-item">
        <p>{{ todo.name }} - {{ todo.content }}</p>
      </div>
    </div>
  </div>
</div>